body {
    background-color: rgb(202, 231, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    h1 {
        text-align: center;
        font-size: 68px;
        opacity: 0.7;
}
    form {
        text-align: center;
        background-color: rgb(152, 176, 219);
        line-height: 30px;
        height: 320px;
        margin-right: 450px;
        margin-left: 450px;
        border: 2px groove;
        border-radius: 25px 50px;
        
    }
    #account {
        font-size: 36px;
        color: rgb(63, 61, 61);
        text-align: left;
        left: 10%;
        position: relative;
        
    }
    .previouspage {
        text-align: left;
        font-size: 20px;
        
        
    }

 a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        
      }
    a:hover {
        background-color: rgb(197, 194, 194);
        color: black;
      }
      
      .previous {
        background-color: #eee7eb;
        color: black;
        border: 3px outset;
        border-radius: 10px;
      }