body {
    background-color: rgb(202, 231, 224);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    h1 {
        text-align: center;
        font-size: 68px;
        
}
    form {
        text-align: center;
        background-color: rgb(152, 176, 219);
        line-height: 30px;
        height: 300px;
        margin-right: 450px;
        margin-left: 450px;
        border: 2px groove;
        border-radius: 25px 50px;
        
    }
    #account {
        font-size: 36px;
        color: rgb(63, 61, 61);
        text-align: left;
        left: 10%;
        position: relative;
        
    }
    .previouspage {
        text-align: right;
        
    }