{% extends "base.html" %}

{% block title%}Accueil{%endblock%}

{% block content%} 

<style>
  .mainpage{
    padding: 2rem; 
  }
  .stats{
    font-size: xx-large; 
    width: fit-content; 
  }

  .col-lg-3{
    padding: 1rem; border-radius: 5px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 0px 8px 0.1px #d6d7d9;
  }
  .subtitles{
    font-size: medium; 
  }
  .values{
    font-size: xx-large;
    color: black;
  }
  .col-lg-7{
    background-color: rgb(246, 246, 246);padding: 20px;
    border-radius: 5px; margin-right: 15px; margin-bottom: 20px;
    box-shadow: 0px 0px 8px 0.1px #d6d7d9;
  }
  .col-lg-4{
    background-color: rgb(246, 246, 246);padding: 20px;
    border-radius: 5px; margin-left: 15px; 
    box-shadow: 0px 0px 8px 0.1px #d6d7d9;
  }
  #inheader{
    padding: 5px;
    border: 0.1px solid; border-radius: 10px;
  }
  #countinfo{
    place-content:center; padding:1rem; margin-top:10px;
  }
  #rv{
    background-color: rgb(246, 246, 246);padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0.1px #d6d7d9; 
  }
  #appointment{
    place-content: center; 
    margin-bottom: 2rem;
  }

  nav a i{
    color: black;
  }
  </style>
  
  
  
  <div class="mainpage" >
    <div class="container">
      <div class="row" >
        <nav class="nav nav-pills flex-column flex-sm-row" id="inheader">
          <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/"><i class="bi bi-house-fill"></i>  Accueil</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="/patients/0"><i class="bi bi-person-lines-fill"></i>  Liste des patients</a>
          <a class="flex-sm-fill text-sm-center nav-link" href="/newpatient"><i class="bi bi-person-plus-fill"></i>  Ajouter un nouveau patient</a>
        </nav>
      </div>
      <div class="row" id="countinfo" >
        <div class="col-lg-3">
          <div>
            <div class="stats rounded">
              <i class="bi bi-file-medical" style="color:dodgerblue ;"></i>
            </div>
            <p class="subtitles" style="color:dodgerblue ;">Patients <br> 
              <span class="values" style="font-weight:bolder ;">{{patients|length}}</span> </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <div>
            <div class="stats rounded">
              <i class="bi bi-calendar3"></i>
            </div>
            <p class="subtitles">Rendez-vous<br> 
              <span class="values" style="font-weight:bolder ;">{{records|length}}</span> </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <div>
            <div class="stats rounded" style="color:#ff7b2e ;">
              <i class="bi bi-person-circle"></i>
            </div>
            <p class="subtitles" style="color:#ff7b2e ;">Personnel Médical <br> 
              <span class="values" style="font-weight:bolder ;">{{doctors|length}}</span> </p>
          </div>
        </div>
      </div>
      <br>




      <div class="row" id="appointment">
        <div  class="col-lg-8" id="rv">
        <div  class="row">
            <div class="col-sm-9">
              <h3> Les prochains rendez-vous</h3>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-info">Voir plus</button>
            </div>
            
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <p><i class="bi bi-person-badge-fill"></i> Nom</p>
          </div>
          <div class="col-sm-4">
            <p><i class="bi bi-telephone-forward"></i> Contact</p>
          </div>
          <div class="col-sm-4">
            <p><i class="bi bi-calendar"></i> Date du rendez-vous</p>
          </div>

        </div>

        {% for i in res%}
          <div  class="row">
            <hr>
            <div class="col-sm-4">
              <p>{{i[0]}}  {{i[1]}}</p>
            </div>
            <div class="col-sm-4">
              <p>{{i[2]}}</p>
            </div>
            <div class="col-sm-4">
              <p>{{i[3]}}</p>
            </div>
          </div>
        {%endfor%}
      </div>
    </div>




      <div class="row" style="place-content:center ;">
        <div class="col-lg-7">
          <div class="row">
            <div class="col-sm-9">
              <h3>Nouveaux Patients</h3>
            </div>
            <div class="col-sm-3" style="place-content:center ;">
              <button type="button" class="btn btn-info" onclick="window.location.href='/patients/0'">Voir la liste </button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3">
              <p>Nom</p>
            </div>
            <div class="col-sm-3">
              <p>Date de naissance</p>
            </div>
            <div class="col-sm-3">
              <p>Derniére visite</p>
            </div>
            <div class="col-sm-3">
              <p>Status</p>
            </div>
          </div>
          {% for patient in patients[-6:]%}
            <div class="row">
              <hr>
              <div class="col-sm-3">
                <p><i class="bi bi-person-badge"></i> {{patient.firstname}}  {{patient.familyname}} </p>
              </div>
              <div class="col-sm-3">
                <p>{{patient.dob}}</p>
              </div>
              <div class="col-sm-3">
                {%set listrec = []%}
                {%for rec in records[::-1]%}
                  {%if rec.patient_id == patient.id%}
                    {% set listrec = listrec.append(rec.date)%}                    
                  {%endif%}
                {%endfor%}
                {{listrec[0]}}
              </div>
              <div class="col-sm-3">
                <button type="button" class="btn btn-outline-success">Guéri</button>
              </div>
            </div>
          {%endfor%}




        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="col-sm-12">
              <h3>Personnel Médical</h3>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <p>Nom</p>
            </div>
            <div class="col-sm-6">
              <p>Email</p>
            </div>
          </div>
          {% for doc in doctors%}
            <div class="row">
              <div class="col-sm-6">
                <p><i class="bi bi-clipboard2-pulse-fill"></i>  {{doc.name}}</p>
              </div>
              <div class="col-sm-6">
                <p>{{doc.email}}</p>
              </div>
            </div>
          {%endfor%}

        </div>
      </div>


      
  
    </div>
  
  </div>

{%endblock%}

