{% extends "base.html" %}

{% block title%}Accueil{%endblock%}

{% block content%} 

<style>
  .mainpage{
    padding: 6rem;
  }
  .innerBtn{
    width: 100%;
    font-size:xx-large;
    height: 10rem;
    padding: 1rem;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background-color:rgb(105, 136, 47);
    color: black;
  }
button#bt1.innerBtn:hover{
/*background-image: linear-gradient(dodgerblue,rgb(99, 176, 253));*/
background-color: dodgerblue;
transition: all 1.3s;
}
button#bt2.innerBtn:hover{
  background-color:rgb(255, 98, 30) ;
  /*background-image: linear-gradient(rgb(255, 98, 30),rgb(246, 156, 101));*/
  transition: 1.3s;
}
  </style>
  
  
  
  <div class="mainpage">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <button type="button" class="innerBtn" id="bt1"  onclick="window.location.href='/patients/0'"><span>Liste des patients</span> </button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="innerBtn" id="bt2" onclick="window.location.href='/newpatient'"><span>Enregistrer un nouveau patient</span></button>
        </div>
  
      </div>
  
    </div>
  
  </div>

{%endblock%}