{% extends "base.html" %}
{% block title %}Liste des patients{% endblock %} 
{% block navigator%} 
<li class="nav-item">
    <a class="nav-link active" href="/newpatient">Nouveau Patient
    </a>
</li>
{% endblock %}
{% block content %}

<style>
    .mainpage{ padding: 1rem;background-image: linear-gradient(to top right,rgb(255, 255, 255),rgb(229, 226, 226));}
            .col-lg-3{
                padding: 2rem;
            }
            .col-lg-9{
                padding: 2rem; color: white;
            }
            .col-md-12{
                border-radius: 10px;
                padding: 1rem; margin-top: 1rem; margin-bottom: 1rem;
                box-shadow: 0px 0px 5px 0.1px #dbdcdd;
            }
            .col-md-3{
                margin: 10px;
                border-radius: 10px;
                padding: 1rem;
                box-shadow: 0px 0px 5px 0.1px #c2c4c6;
            }
            .col-md-4{
                margin: 10px;
                border-radius: 10px;
                padding: 1rem; 
                box-shadow: 0px 0px 5px 0.1px #d6d7d9;
            }

            .col-md-5{
                padding: 1rem;
                border-radius: 20px;
                margin: 1rem;
                color: rgb(101, 97, 97);
                background-color: white;
                box-shadow: 0px 0px 5px 0.1px #d6d7d9;
            }
            .sidenav{
                 border-radius: 10px; height: fit-content;
                background-image: linear-gradient(to bottom right, rgb(4, 79, 171),rgb(124, 177, 241));
                box-shadow: 0px 0px 30px 0.1px #738393;
                color: white; font-weight: bold;
            }
            .sidenav-menu{
                padding: 0 2rem 0 2rem;
                list-style-type: none;   
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
                max-height: 400px;
            }

            .sidenav-menu li a{
                padding: 8px;
                display: block;
                color:blanchedalmond;
                }

            .form-outline{
                align-self: flex-start;
            }
            .text-center{padding: 1rem;}

            .accessBtn{
                text-align: center;
            }

            .dropbtn {
                background-image: linear-gradient(dodgerblue,rgb(0, 128, 255));
                color: white;
                
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                border-radius: 50px;
                box-shadow: 0px 0px 20px 0.1px #8eacca;
              }
              
              .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              }
              
              .dropdown {
                position: relative;
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }
              
              .dropdown a:hover {background-color: #ddd;}
              .show {display: block;}

              .bio-row{
                flex: 1;
                }
                .col-md-12 > div{
                    display: flex;
                }
                .memo{display:grid; min-width: 80%; text-align: center;}
                
      
</style>


<div class="mainpage">
    <div class="panel">
        <div class="row">
            <div class="col-lg-3">
                <div
                id="sidenavigator"
                data-mdb-close-on-esc="false"
                class="sidenav"
                data-mdb-hidden="false"
                data-mdb-position="absolute"
                data-mdb-focus-trap="false"
                data-mdb-scroll-container="#scroll-container"
                role="navigation">
                    <div class="text-center">
                        <h3 class="py-4">Liste des patients</h3>
                        <hr class="m-0"/>
                    </div>
                    
                    <ul id="scroll-container" class="sidenav-menu">
                        <div class="input-group rounded my-2">
                            <div class="form-outline">
                                <input id="search-input-sidenav" type="search" id="form1" class="form-control" placeholder="Rechercher "/>
                            </div>
                        </div>
                       <!--
                        <li class="sidenav-item">
                        <a class="sidenav-link">
                            <i class="far fa-smile pe-3"></i><span>Patient 0</span>
                        </a>
                        --> 
                                        
                        {% for people in patient%}
                        {% if people.id != 0%}
                        <li class="sidenav-item">
                            <a class="sidenav-link" href="{{people.id}}">
                                <i class="far fa-smile pe-3"></i><span >{{ people.firstname}} {{people.familyname}}</span>
                            </a>
                        </li>
                        {%endif%}
                        {%endfor%}
                        

                    </ul>
                    <div class="text-center" style="margin-bottom: 1rem;">
                        <hr class="mt-0 mb-2" />
                        <small >Dossier Patient Électronique</small>
                    </div>

</div>
            </div>
            <div class="col-lg-9">
                <div class="accessBtn">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"> &#9881 À propos du dossier &#x25BC </button>
                        <div id="myDropdown" class="dropdown-content">
                            {% if current_patient.id == 0%}
                            <a href="">Historique des consultations</a> 
                            <a href="">Modifier le dossier</a>
                            <button type="submit" class="btn btn-danger " disabled>Supprimer le dossier</button>
                            {%else%}
                            <a href="/details/{{current_patient.id}}">Historique des consultations</a> 
                            <a href="/update/{{current_patient.id}}">Modifier le dossier</a>
                            <form method="POST">
                            <button type="submit" class="btn btn-danger ">Supprimer le dossier</button>
                            </form> 
                            {%endif%}                                                  
                        </div>
                    </div>     
                </div>
                <div class="row" style="place-content:center ; margin-top:1rem;">
                    <div class="col-md-4" style="background-image: linear-gradient(to bottom left,rgb(2, 91, 179),rgb(106, 181, 255));">
                        <div class="name">
                            <div class="bio-row">
                                <p id="familyName"><span style="font-weight:bold ;">Nom de famille: </span>{{current_patient.familyname}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="surname"><span style="font-weight:bold ;">Prénom(s): </span>{{current_patient.firstname}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="background-image: linear-gradient( #ff7b2e,#ebad89);">
                        <div class="birth">
                            <div class="bio-row">
                                <p id="birthday"><span style="font-weight:bold ;">Date de naissance: </span> {{current_patient.dob}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="birthplace"><span style="font-weight:bold ;">Lieu de naissance: </span>{{current_patient.pob}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color:white; color:rgb(101, 97, 97);">
                        <div class="contact">
                            <div class="bio-row">
                                <p id="num"><span style="font-weight:bold ;">Numéro de téléphone: </span>{{current_patient.num}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="other"><span style="font-weight:bold ;">Email: </span>{{current_patient.email}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="other"><span style="font-weight:bold ;">Contact d'urgence: </span>{{current_patient.emergency}}</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12" style="background-color:white; color:rgb(101, 97, 97);">
                        <div class="health">
                            <div class="bio-row">
                                <p id="sex"><span style="font-weight:bold ;">Sexe: </span>{{current_patient.sex}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="bloodtype"><span style="font-weight:bold ;">Groupe sanguin: </span>{{current_patient.bloodtype}}</p>
                            </div>
                            <div class="bio-row">
                                <p id="allergy"><span style="font-weight:bold ;">Allergies: </span>{{current_patient.allergy}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="place-content:center ;">
                    <div class="col-md-5">
                        <div class="bio-row">
                            <p id="sickness"><span>Conditions: </span>{{current_patient.conditions}}</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="memo">
                            <label for="patientmemo">Mémo</label>
                            <textarea rows="5" name="patientmemo" id="patientmemo">{{current_patient.notes}}</textarea>
                        </div>
                    </div>

                </div>
                
            </div>

        </div>
        <div class="row">
            
        </div>
    </div>
</div>
<script src="../static/test.js"></script>
<!--<<script
type="text/javascript"
src="{{ url_for('static', filename='index.js') }}"
></script>-->
{%endblock%}