{% extends "base.html" %}
{% block title %}Nouvel Enregistrement{% endblock %} 
{% block navigator%} 
<li class="nav-item">
    <a class="nav-link active" href="/patients/{{currentPatient.id}}">Retourner à la liste
    </a>
  </li>

{% endblock %}

{% block content %}
<style>
    .mainpage{
     display: grid;   
     background-image: linear-gradient(to bottom right, rgb(227, 227, 227),rgb(255,255,255));
     padding: 1rem;
    }
    .panel{
        padding: 1rem;
        margin: 1rem; 
        box-shadow: 0px 0px 10px 0.1px #cddeef;
        background-color: white;
    }
    h2 {
        text-align: center;
    }
    hr{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgb(135, 130, 130);
    }
    .row{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .row#submitBtn{
        place-content: center;
    }
    .btn-dark{border-radius: 50px;}
    
</style>

<div class="mainpage">
    <div class="panel">
        <h2> Mettre à jour les informations</h2>
        <form method="POST">
            <div class="row">
                <div class="col-sm-1">
                    <h2>Bio</h2>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-dark" onclick="window.location.href='#'">&#9998</button>
                </div>
            </div>
            <div class="row" id="patient-bio">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="surname" id="surname" 
                        placeholder="Prénom(s)"value="{{currentPatient.firstname}}">
                        <label for="surname">Prénom(s)</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="familyName" id="familyName"
                        placeholder="Nom de Famille" value="{{currentPatient.familyname}}">
                        <label for="familyName">Nom de famille</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="date" class="form-control" name="birthday" id="birthday" 
                        placeholder="Date de naissance" value="{{currentPatient.dob}}">
                        <label for="birthday">Date de naissance</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="birthplace" id="birthplace" placeholder="Lieu de naissance" value="{{currentPatient.pob}}">
                        <label for="birthplace">Lieu de naissance</label>
                    </div>
                </div>
            </div>
            <div class="row" id="patient-contact">
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="number" class="form-control" name="num" id="num" placeholder="77-612-34-56" value="{{currentPatient.num}}">
                        <label for="num"> Numéro de téléphone</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="number" class="form-control" name="emergency" id="emergency" placeholder="76-598-76-54" value="{{currentPatient.emergency}}">
                        <label for="emergency">Contact d'urgence</label>
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="email" placeholder="abc@gmail.com" value="{{currentPatient.email}}">
                        <label for="email">Adresse Email</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-1">
                    <h2>Santé</h2>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-dark" onclick="window.location.href='#'">&#9998</button>
                </div>
            </div>
            <div class="row" id="patient-health">
                <div class="col-md-3">
                    <div class="health-info">
                        <div class="form-floating">
                            <select class="form-select form-select-lg mb-3" name="status" id="status">
                                <option value="{{currentPatient.status}}" selected>{{currentPatient.status}}</option>
                                <option value="Nouvelle patiente">Nouvelle patiente</option>                               
                                <option value="Premier trimestre">Premier trimestre</option>
                                <option value="Deuxiéme trimestre">Deuxiéme trimestre</option>
                                <option value="Dernier trimestre">Dernier trimestre</option>
                                <option value="Post accouchement">Post accouchement</option>
                                <option value="Autre consultation">Autre consultation</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="health-info">
                        <div class="form-floating">
                            <select class="form-select form-select-lg mb-3" name="bloodtype" id="bloodtype">
                                <option value="{{currentPatient.bloodtype}}" selected> Groupe {{currentPatient.bloodtype}}</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB">AB</option>
                            </select>
                            <label for="bloodtype">Groupe sanguin</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="radio-inline control-label">Sexe</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="female" value="{{currentPatient.sex}}" checked>
                        <label class="form-check-label" for="female">
                        Femme
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="male" value="Homme">
                        <label class="form-check-label" for="male">
                        Homme
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <input type="date" class="form-control" name="delivery" id="delivery" placeholder="Accouchement prévu pour:" value="{{currentPatient.delivery}}">
                        <label for="delivery">Accouchement prévu pour:</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="health-info">
                        <div class="form-floating">
                            <select class="form-select form-select-lg mb-3" name="firstpregnancy" id="firstpregnancy">
                                <option value="{{currentPatient.firstpregnancy}}">{{currentPatient.firstpregnancy}}</option>
                                <option value="Oui">Oui</option>
                                <option value="Non">Non</option>
                            </select>
                            <label for="firstpregnancy">Première grossesse</label>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row" id="patient-condition">
                <div class="col-md-5">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Conditions médicales" id="sickness" name="sickness" style="height: 100px;" >{{currentPatient.conditions}}</textarea>
                        <label for="floatingTextarea" >Condition ou antécédent médical du patient</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Traitement" id="treatment" name="treatment"  style="height: 100px;">{{currentPatient.treatment}}</textarea>
                        <label for="treatment">Traitement ou prise de médicaments</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Allergies" id="allergy" name="allergy" value="{{currentPatient.allergy}}" style="height: 100px;">{{currentPatient.allergy}}</textarea>
                        <label for="floatingTextarea">Allergie à: </label>
                    </div>
                </div>

            </div>
            <div class="row" id="patient-memo">
                <div class="col-md-12">   
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Notes" id="memo" style="height: 100px" name="memo">{{currentPatient.notes}}</textarea>
                        <label for="floatingTextarea2">Notes concernant le patient</label>
                    </div>                 
                </div>

            </div>
            <div class="row" id="submitBtn">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-lg">Sauvegarder</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/patients/{{currentPatient.id}}'">Annuler</button>
                </div>

            </div>
            
            
    </form>
    </div>

</div>
{%endblock%}