body{
    background-color: antiquewhite;
}
header{
    padding: 0px;
}

.caption {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-style: italic;
    line-height: 14px;
    margin-top: 0px;
    padding: 10px;
    position: relative;
    top: 45%;
    width: 60%;
    color: rgb(103, 132, 141);
  }
.left_position{
    margin-left: 20px;
}
.right_position{
    padding-right: initial;
}

.idphoto{
    background-image: url(./myphoto.png);
    background-size:cover;
    background-position: top;
    height: 800px;
    
}

nav {
    background-color: black;
    height: 80px;
    width: 100%;
}

nav ul {

    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  
nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
  }
  
nav ul li:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
  }

.container {
    margin: 0 auto;
    max-width: 940px; 
    padding: 0 10px;
    text-align: center;
  }