.et_pb_button {
    display: inline-block;
    margin: 5px; /* space between buttons */
}

/*

.centrer{margin: 5rem;}

.centrer:after {
  content: "";
  display: table;
  clear: both;
}
.innerBtn{
    float: left;
    width: 50% ;
    padding-block: 20%;
    border-radius: 50px;
}
*/