<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.2/sandstone/bootstrap.min.css" 
        integrity="sha512-6mxVm0yMWQMgRdeLInlqbm58PV7M/xiT5AJrI4Qs8rSRpIccP66TjTUu4/vqWe7Ztvg6PEqnmbTU2+BJ8TnQdQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        

        <style>
            .d-flex{
                position:absolute;
                right: 100px;
            }
            body {
              font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        </style>
        <title>
            {% block title%}Accueil{%endblock%}
        </title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Dossier Patient</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02" >
                <ul class="navbar-nav me-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link active" href="logout">Se déconnecter
                    </a>
                  </li>
                  {%else%}
                  <li class="nav-item">
                    <a class="nav-link active" href="login">Se connecter
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="signup">Créer un compte
                    </a>
                  </li>
                  {%endif%}
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages%}
            {% for category,message in messages%}
              {% if category == 'error'%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
                </div>
              {% else%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              </div>
              {%endif%}
            {% endfor %}
          {%endif%}
        {%endwith %}

        {% block content%} {% endblock %}
      </body>
</html>