{% extends "base.html" %}

{% block title %}Se Connecter{% endblock %}

{% block content%} 

<style>
  .mainform{text-align: center;}
    .card{
      margin        : 0;
      padding       : 0;
      display       : grid;
      place-content : center;
      min-height    : 100vh;
  }
   .form-control2 {
    height: 60px;
    width: 300px;
    border: 0.01px solid; border-color: rgb(198, 209, 219);
    padding: 10px;
    }

    input[type="email"]{border-radius: 7px 7px 0px 0px;}
    input[type="password"]{border-radius: 0px 0px 7px 7px;}

    #continueBtn{
      height: 45px;
      width: 300px;
      background-color: rgb(12, 149, 228);
      font-size:larger;
    }

</style>

<div class="card">
<form method="POST" class="mainform">
  <fieldset>
    <legend><p style="font-size: xx-large;">Se connecter</p></legend>


    <div class="form-group">
      <input type="email" class="form-control2" id="exampleInputEmail1" 
      aria-describedby="emilHelp" placeholder="Adresse email"><br>
      <input type="password" class="form-control2" id="exampleInputPassword1" 
      placeholder="Mot de passe" required minlength="8" maxlength="20">
    </div><br>

    <button id="continueBtn" type="submit" class="btn btn-primary">Continuer</button>
    <div><br>
      <p>Vous n'avez pas de compte ?</p>

      <button id="createBtn" type="submit" class="btn btn-primary"><a href="signup" style="color:rgb(255, 255, 255);">Créer un compte</a></button>
    </div>
  </fieldset>
</form>
</div>

{% endblock %}