{% extends "base.html" %}
{% block title %}Nouvel Enregistrement{% endblock %} 

{% block content %}
<style>
    .mainpage{
     display: grid;   
    }
    .panel2{
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;   
        box-shadow: 0px 0px 30px 0.1px #738393;
        background-image: linear-gradient(to bottom right, rgb(209, 115, 21),rgb(255,255,255));
    }
    h2 {
        text-align: center;
    }
    


.bio-info > input{ display: block;}











.bio-desk h4 {
    font-size: 15px;
    font-weight:400;
}

.bio-desk h4.terques {
    color: #4CC5CD;
}

.bio-desk h4.red {
    color: #e26b7f;
}

.bio-desk h4.green {
    color: #97be4b;
}

.bio-desk h4.purple {
    color: #caa3da;
}
.col-md-6{
    padding: 1rem;
    border-color: black;
    border: 1px solid;   
}
.row{
    padding: 2rem;
    border: 2px solid;
    border-color: red;
}
    
</style>

<div class="mainpage">
    <div class="panel2">
        <h2> Nouveau Patient</h2>
        <form action="submit">
            <div class="bio-info">
                <h3>Bio</h3>
                <div class="basic-info">
                    <input type="text" name="familyName" id="familyName" placeholder="Nom de Famille">
                    <input type="text" name="surname" id="surname" placeholder="Prénom(s)">
                    <input type="date" name="birthday" id="birthday" placeholder="Date de naissance">
                    <input type="text" name="birthplace" id="birthplace" placeholder="Lieu de naissance">
                </div>
            </div>

            <div class="contact-info">
                <h3>Contact</h3>
                <div class="basic-info">
                    <label for="num"> Numéro de téléphone</label>
                    <input type="tel" name="num" id="num" placeholder="77-612-34-56">
                    <label for="other">Contact d'urgence</label>
                    <input type="tel" name="other" id="other" placeholder="76-598-76-54">
                </div>
            </div>
            <div class="health-info">
                <h3>Info Santé</h3>
                <label for="female"> Femme</label>
                <input type="radio" id="female" name="sex" value="Femme" checked>
                <label for="male">Homme</label>
                <input type="radio" id="male" name="sex" value="Homme">
                <label for="bloodtype">Groupe sanguin</label>
                <select name="bloodtype" id="bloodtype">
                    <option value="o+">O+</option>
                    <option value="o+">O-</option>
                    <option value="o+">A+</option>
                    <option value="o+">A-</option>
                    <option value="o+">B+</option>
                    <option value="o+">B-</option>
                    <option value="o+">AB</option>
                </select>
            </div>
            <div class="health-info2">
                <input type="text" name="allergy" id="allergy" placeholder="Allergies">
                <input type="text" name="sickness" id="sickness" placeholder="Conditions médicales">
            </div>
            <div class="description">
                <label for="patientmemo">Mémo</label>
                <textarea name="patientmemo" id="patientmemo" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Sauvegarder">
    </form>
    </div>

</div>
{%endblock%}