{% extends "base.html" %}
{% block title %}Nouvel Enregistrement{% endblock %} 

{% block content %}
<style>
    .mainpage{
     display: grid;   
    }
    .panel{
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;   
        box-shadow: 0px 0px 30px 0.1px #738393;
        background-image: linear-gradient(to bottom right, rgb(209, 115, 21),rgb(255,255,255));
    }
    h2 {
        text-align: center;
    }
    

    
</style>

<div class="mainpage">
    <div class="panel">
        <h2> Nouveau Patient</h2>
        <form action="submit">
            <div class="row">
                <div class="col-sm-3">
                    <div class="basic-info">
                        <input type="text" name="familyName" id="familyName" placeholder="Nom de Famille">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-info">
                        <input type="text" name="surname" id="surname" placeholder="Prénom(s)">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-info">
                        <input type="date" name="birthday" id="birthday" placeholder="Date de naissance">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="basic-info">
                        <input type="text" name="birthplace" id="birthplace" placeholder="Lieu de naissance">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="contact-info">
                        <label for="num"> Numéro de téléphone</label>
                        <input type="tel" name="num" id="num" placeholder="77-612-34-56">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-info">
                        <label for="other">Contact d'urgence</label>
                        <input type="tel" name="other" id="other" placeholder="76-598-76-54">
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="contact-info">
                        <label for="e-mail">Adresse Email</label>
                        <input type="email" name="e-mail" id="e-mail" placeholder="abc@gmail.com">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="health-info">
                        <label for="female"> Femme</label>
                        <input type="radio" id="female" name="sex" value="Femme" checked>
                        <label for="male">Homme</label>
                        <input type="radio" id="male" name="sex" value="Homme">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="health-info">
                        <label for="bloodtype">Groupe sanguin</label>
                        <select name="bloodtype" id="bloodtype">
                            <option value="o+">O+</option>
                            <option value="o+">O-</option>
                            <option value="o+">A+</option>
                            <option value="o+">A-</option>
                            <option value="o+">B+</option>
                            <option value="o+">B-</option>
                            <option value="o+">AB</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="health-info">
                        <input type="text" name="allergy" id="allergy" placeholder="Allergies">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="health-info2">
                        <input type="text" name="sickness" id="sickness" placeholder="Conditions médicales">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="health-info2">
                        <div class="description">
                            <label for="patientmemo">Mémo</label>
                            <textarea name="patientmemo" id="patientmemo" cols="30" rows="10"></textarea>
                        </div>
                    </div>                    
                </div>

            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" value="Sauvegarder">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="innerBtn" onclick="window.location.href='/patients'"><span>Annuler</span> </button>
                </div>

            </div>
            
    </form>
    </div>

</div>
{%endblock%}