{% extends "base.html" %}
{% block title %}Historique des consultations{% endblock %} 

{% block content %}

<style>
    .mainpage{display:grid;}
    .sidenav{
        padding: 20px;
        border-right: 0.1px solid; 
        border-color: rgb(211, 215, 219);}

    .resultSide{padding: 2rem;}
    .panel{
        background-image: linear-gradient(to bottom right, rgb(4, 79, 171),rgb(124, 177, 241));
        border-radius: 9px;
        margin: 1rem;
        color: white;
        font-weight: bold;
        height: fit-content;
        box-shadow: 0px 0px 30px 0.1px #738393;}
    
    .results{box-shadow: 0px 0px 30px 0.1px #738393;
        margin: 1rem;
        background-image: linear-gradient(to bottom right, rgb(228, 229, 230),rgb(255, 255, 255));
        border-radius: 10px;
    }
    .results h1{ text-align: center;}    
    .bio-row{flex: 1;margin: 5px;}
    .name{display: flex;}
    .birth {display: flex;}
    .contact{display: flex;}
    .health{display: flex;}
    #history{border:0.4px solid; border-color: aqua;
        box-shadow: 0px 0px 10px 0.1px #738393;padding: 10px;
        margin: 10px 0 10px 0;border-radius: 20px;}


</style>

<div class="mainpage">
    <div class="panel">
        <div id="sidenavigator" class="sidenav">
                <div class="name">
                    <div class="bio-row">
                        <p id="familyName"><span>Nom de famille: </span> {{currentPatient.familyname}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="surname"><span>Prénom(s): </span> {{currentPatient.firstname}}</p>
                    </div>
                </div>

                <div class="birth">
                    <div class="bio-row">
                        <p id="birthday"><span>Date de naissance: </span> {{currentPatient.dob}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="birthplace"><span>Lieu de naissance: </span>{{currentPatient.pob}}</p>
                    </div>
                </div>

                <div class="contact">
                    <div class="bio-row">
                        <p id="num"><span>Numéro de téléphone: </span>{{currentPatient.num}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="other"><span>Contact d'urgence: </span>{{currentPatient.emergency}}</p>
                    </div>
                </div>

                <div class="health">
                    <div class="bio-row">
                        <p id="sex"><span>Sexe: </span>{{currentPatient.sex}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="bloodtype"><span>Groupe sanguin: </span>{{currentPatient.bloodtype}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="allergy"><span>Allergies: </span>{{currentPatient.allergy}}</p>
                    </div>
                    <div class="bio-row">
                        <p id="sickness"><span>Conditions: </span>{{currentPatient.conditions}}</p>
                    </div>
                </div>
             
        </div>
        

    </div>   
    <div class="resultSide">
        <form method="POST">
            <div class="row">
                <div class="col-sm-2">
                    <label for="num"> Date</label>
                    <input type="date" name="notedate" id="notedate" class="form-control">
                </div>
                <div class="col-sm-3">
                    <label for="num"> Diagnostic</label>
                    <textarea type="text" name="note" id="note" class="form-control"> </textarea>
                </div>
                <div class="col-sm-3">
                    <label for="num"> Prescription</label>
                    <textarea type="text" name="drugs" id="drugs" class="form-control"> </textarea>
                    
                </div>
                <div class="col-sm-2">
                    <label for="num"> Prochain Rendez-vous</label>
                    <input type="date" name="nextappo" id="nextappo" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
            </div>
        </form> <br>

        <div id="consultation">
        {% for item in currentPatient.consultation[::-1] %}
        <div class="row" id="history">
            <div class="col-sm-2">
                <label for="date"> Date</label>
                <p id="date">{{item.date}}</p>
            </div>
            <div class="col-sm-3">
                <label for="note"> Diagnostic</label>
                <p id="note">{{item.notes}}</p>
            </div>
            <div class="col-sm-3">
                <label for="drugs"> Prescription</label>
                <p id="drugs">{{item.drugs}} </p>
            </div>
            <div class="col-sm-2">
                <label for="nextappo"> Prochain rendez-vous</label>
                <p id="nextappo">{{item.next_appo}}</p>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-danger" onclick="deleteHistory({{item.id}})">Supprimer</button>
            </div>
        </div>
        {%endfor%}
        </div>

    </div>
</div>

{%endblock%}
<!--
<div class="col-sm-3">
    <input type="date" name="notedate" id="notedate">
</div>
<div class="col-sm-3">
    <input type="text" name="note" id="note">
</div>
<div class="col-sm-3">
    <input type="text" name="drugs" id="drugs">
</div>
<div class="col-sm-3">
    <input type="date" name="nextappo" id="nextappo">
</div>
-->