

{% extends "base.html" %}
{% block title %}Créer un nouveau compte{% endblock %} 

{% block content %}
<style>

    .mainform{ display: flex; justify-content:center;
    margin: 1rem auto;}
    .form-control2{width: 300px;}
    #confirmBtn { width: 200px;;}
    .card {
        margin: 6rem auto;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        background-color: rgba(61, 66, 38, 0.26);
        padding: .75rem;
        box-shadow: 0 3px 10px rgba(49, 34, 111, 0.2);
    }
    .mb-3 {margin-top: 2rem; margin-bottom: 2rem;}
    form button{margin-top: 10px; }
    .btnB{text-align: center;}
    legend{margin-bottom: 20px;}
</style>

<div class="card">
<form method="POST"  class="mainform">
    <fieldset>
      <legend>Créer un nouveau compte</legend>

       <div class="input-group mb-3">
        <input type="text" class="form-control" id="name"  name="name"
        placeholder="Nom et Prénom(s)" required minlength="2">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">@</span>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="inputGroup-sizing-default" 
        placeholder="email" required >
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">&#128273</span>
        <input type="password" class="form-control" id="password" name="password"
        aria-describedby="inputGroup-sizing-default" placeholder="Saisissez un mot de passe"
        required >
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">&#128273</span>
        <input type="password" class="form-control" id="password2" name="password"  
        aria-describedby="inputGroup-sizing-default" placeholder="Ressaisissez un mot de passe"
        required >
        
      </div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" onclick="myFunction()">
        <label class="form-check-label" for="flexSwitchCheckChecked">Afficher les mots de passe</label>
      </div>

      <div class="btnB">
        <button id="confirmBtn" type="submit" class="btn btn-primary" >Continuer</button>
      </div>

      <div><br>
        <p>Vous possédez déjà un compte ? <a href="login" style="color: rgb(31, 144, 215);">Connexion</a></p>
      </div>
    </fieldset>
  </form>
</div>
<script>
  function myFunction() {
    var x = document.getElementById('password');
    var y = document.getElementById('password2');
    if (y.type === "password") {
      y.type = "text";
      x.type = "text";
    } else {
      y.type = "password";
      x.type = "password";
    }
  }
  </script>

{% endblock%}
</html>