{% extends "base.html" %}
{% block title %}Nouvel Enregistrement{% endblock %} 

{% block content %}
<style>
    .mainpage{
     display: grid;   
     background-image: linear-gradient(to bottom right, rgb(227, 227, 227),rgb(255,255,255));
     padding: 1rem;
    }
    .panel{
        padding: 1rem;
        margin: 1rem; 
        box-shadow: 0px 0px 10px 0.1px #cddeef;
        background-color: white;
    }
    h2 {
        text-align: center;
    }
    hr{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: rgb(135, 130, 130);
    }
    .row{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .row#submitBtn{
        place-content: center;
    }
    .btn-dark{border-radius: 50px;}
    
</style>

<div class="mainpage">
    <div class="panel">
        <h2> Mettre à jour les informations</h2>
        <form method="POST">
            <div class="row">
                <div class="col-sm-1">
                    <h2>Bio</h2>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-dark" onclick="window.location.href='#'">&#9998</button>
                </div>
            </div>
            <div class="row" id="patient-bio">
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="familyName" id="familyName" placeholder="Nom de Famille">
                        <label for="familyName">Nom de famille</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="surname" id="surname" placeholder="Prénom(s)">
                        <label for="surname">Prénom(s)</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="date" class="form-control" name="birthday" id="birthday" placeholder="Date de naissance">
                        <label for="birthday">Date de naissance</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="birthplace" id="birthplace" placeholder="Lieu de naissance">
                        <label for="birthplace">Lieu de naissance</label>
                    </div>
                </div>
            </div>
            <div class="row" id="patient-contact">
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="num" id="num" placeholder="77-612-34-56">
                        <label for="num"> Numéro de téléphone</label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="tel" class="form-control" name="other" id="other" placeholder="76-598-76-54">
                        <label for="other">Contact d'urgence</label>
                    </div>
                </div>  
                <div class="col-sm-4">
                    <div class="form-floating">
                        <input type="email" class="form-control" name="e-mail" id="e-mail" placeholder="abc@gmail.com">
                        <label for="e-mail">Adresse Email</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-1">
                    <h2>Santé</h2>
                </div>
                <div class="col-sm-10"></div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-dark" onclick="window.location.href='#'">&#9998</button>
                </div>
            </div>
            <div class="row" id="patient-health">
                <div class="col-md-4">
                    <div class="health-info">
                        <div class="form-floating">
                            <select class="form-select form-select-lg mb-3" name="bloodtype" id="bloodtype">
                                <option value="o+">O+</option>
                                <option value="o+">O-</option>
                                <option value="o+">A+</option>
                                <option value="o+">A-</option>
                                <option value="o+">B+</option>
                                <option value="o+">B-</option>
                                <option value="o+">AB</option>
                            </select>
                            <label for="bloodtype">Groupe sanguin</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline control-label">Sexe</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="female" value="Femme" checked>
                        <label class="form-check-label" for="female">
                        Femme
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sex" id="male" value="Homme">
                        <label class="form-check-label" for="male">
                        Homme
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Allergies" id="Allergy"></textarea>
                        <label for="floatingTextarea">Allergie à: </label>
                    </div>
                </div>
            </div>
            <div class="row" id="patient-condition">
                <div class="col-sm-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Conditions médicales" id="sickness"></textarea>
                        <label for="floatingTextarea">Condition médicale du patient (ex: Diabète..)</label>
                    </div>
                </div>
            </div>
            <div class="row" id="patient-memo">
                <div class="col-md-12">   
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Notes" id="memo" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Notes concernant le patient</label>
                    </div>                 
                </div>

            </div>
            <div class="row" id="submitBtn">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='patients'">Sauvegarder</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='patients'">Annuler</button>
                </div>

            </div>
            
    </form>
    </div>

</div>
{%endblock%}